:root {
  --background-color: #77ddff;
  --font-color: #006600;
  --visited-color: #000000;
  --hover-color: #ffffff;
  --active-color: #00ff00;
  --gridbackground-color: #f0f0f0;
  --secondary-button-color: #00aa00;
  --text-color: #000000;
} /*unused colors removed*/

* {
  box-sizing: border-box;
  margin: 10px 10px;
  padding: auto 10px;
}

body {
  clear: both;
  align-items: center;
  text-align: center;
  background-color: var(--background-color);
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: var(--font-color);
}

/*Pokemon-list class style defined*/
 .pokemon-list {
  list-style-type: none;
  margin: 5px auto;
 }

/*Pokemon-list li style defined*/
 .pokemon-list li{
  display: inline-block;
  margin-left: 5px;
 }

/*Button details added*/
.button-class {
  background-color: var(--background-color);
  border: none;
  width: 100px;
  height: 100px;
  color: var(--font-color);
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: var(--hover-color);
  color: var(--font-color);
  border: 2px solid var(--secondary-button-color);
}

#modal-container {
   display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 10px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 999;
  overflow: auto; 
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: var(--hover-color);
  padding: 15px;
  width: 40%;
  height: 40%;
  max-width: 700px;
  text-align: center;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: var(--text-color);
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
  text-align: left;
}

.modal p {
  margin-bottom: 0;
  text-align: left;
}
